/* general */
$mobiles: 500px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-sm: 950px;
$tablets-md: 1024px;
$tablets-max: 1199px;
$desktops: 1200px;
$desktops-sm: 1500px;
$desktops-md: 1720px;
$desktops-lg: 1800px;
$desktops-xl: 2300px;
// $container: 1760px;
$container: 1410px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition-settings: 0.3s all;

$color-black: #000;
$color-white: #fff;

$color-placeholder: #d8d8d8;

/*general*/
$mobiles: 320px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-max: 1023px;
$desktops: 1024px;
$container: 1590px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-base-color: #262626;

$transition-settings: 0.3s all;

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);

// Base

$color-black: #262626;
$color-dark-gray: #464646;
$color-gray: #4d4d4d;
$background-light-gray: #f5f7f9;
$color-white: #ffffff;
$color-blue: #2a4876;
$color-red: #eb4431;
$color-beige: blanchedalmond;
$color-red-form: #e05f50;
$color-light-gray: #f2f2f2;
$color-background-gray: #e5e5e5;
$color-background-gray-light: #f1f1f1;
$color-placeholder: rgba(38, 38, 38, 0.5);
$color-error: #d52020;
$button-gradient: linear-gradient(264.57deg, #e05f50 -3.04%, rgba(224, 95, 80, 0.8) 93.7%);
